body {
	background: #A6C9FF;
}
header {

	height: 148px;
	background: #B47FF7;
	position: relative;
	

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		
		ul {
			display: flex;
			margin-left: 13.2786%;

			li{
				font-size: 30px;
				color: #FFFFFF;
				margin-right: 45%;
					
			}
			p:hover {
					cursor: pointer;
					border-bottom: 1px solid #FFFFFF;
					}

			}
	label {
		display: flex;
		margin-right: 20px;
		color: #FFFFFF;
		span {
			font-size: 30px;
			
		}
		&:hover {
			cursor: pointer;
		}
	}
}
}

/*____________________________________*/

.h1_wrapper{
	max-width: 100%;
	height: 176px;
	margin-top: 40px;
	background:#7029CB;
	font-weight: 700;
	font-size: 45px;

	.slideshow_container {
		width: 100%;
		position: relative;
		.arrow_left{
			display: inline-block;
			width: 60px;
			height: 60px;
			border-left: 1px solid #FFFFFF;
			border-bottom: 1px solid #FFFFFF;
			margin-top: 58px;
			margin-left: 40px;
			transform: rotate(45deg);
			}
			:hover {
				cursor: pointer;
			}
		.arrow_right{
			display: inline-block;
			width: 60px;
			height: 60px;
			border-right: 1px solid #FFFFFF;
			border-top: 1px solid #FFFFFF;
			float: right;
			margin-top: 58px;
			margin-right: 40px;
			transform: rotate(45deg);
			}
			:hover {
				cursor: pointer;
			}
			.h1_wrap {
				width: 40%;
				display: inline-block;
				position: relative;
				margin-left: 30%;
				bottom: 20px;
			.h1_text{
				display: inline-block;
			}
			.h1pop_up{
				display: inline-block;
				margin-left: auto;
		   		margin-right: auto;
				width: 262px;
				height: 58px;
				background: #FF4B4B;
				border-radius: 25px;
				text-align: center;
				:hover{
					color: #FFF99F;
				}

				a{
					color: #FFFFFF;
					font-size: 30px;
					line-height: 58px;
					
				}
		}
		
		
}
}
}

.h2_block {
	width: 100%;
	height: 500px;
	margin-top: 40px;
	font-size: 30px;
	color: #FFFFFF;
	p {margin: 0 50%;}

	.h2_container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.h2_block_item {
			background: #3ADE4B;
			height: 180px;
			margin-bottom: 1%;
			font-size: 30px;
			line-height: 180px;
			p {
				margin-left:50%;
			}

		}
		.h2_block1{
			width: 24.5%;
		}
		.h2_block2{
			width: 74.5%;
		}
		.h2_block3{
			width: 82.5%;
		}
		.h2_block4{
			width: 16.5%;
		}
	}
}





.h3_block {
	width: 100%;
	height: 500px;
	margin-top: 20px;
	font-size: 30px;
	color: #FFFFFF;
	p {margin: 0 50%;}
$block_width: 17.6%;
	.h3_container {
		max-width: 95.7%;
		max-height: 248px;
		height: 21.196vw;
		
		background: #D4FF5A;;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		border-radius: 20px;
		margin: 0 auto;

		.h3_block_item {
			background: #3ADE4B;
			max-height: 198px;
			height: 17.6vw;
			font-size: 30px;
			margin: 0 auto;
			border-radius: 20px;
			p {
				margin-left:50%;
			}

		}
		
		.h3_block1{
			max-width:198px;
			width: $block_width;
			background: #497957;
		}
		.h3_block2{
			max-width:198px;
			width: $block_width;
			background: #497957;
		}
		.h3_block3{
			max-width:198px;
			width: $block_width;
			background: #497957;
		}
		.h3_block4{
			max-width:198px;
			width: $block_width;
			background: #497957;
		}
		.h3_block5{
			max-width:198px;
			width: $block_width;
			background: #497957;
		}
	}
}

/*__________________________________*/

.utp_text {
	height: 300px;
	text-align: center;
	p{
		font-size: 30px;
		font-family: serif;
		margin-bottom: 10px;
	}
	.pop_up{
		margin-left: auto;
    margin-right: auto;
		width: 262px;
		height: 58px;
		background: #FF4B4B;
		border-radius: 25px;
		text-align: center;
		:hover{
			color: #FFF99F;
		}

	a{
		color: #FFFFFF;
		font-size: 30px;
		line-height: 58px;
		
	}
}
}

/*__________________________________*/

footer {
	height: 100px;
	background: #D87FF7;
	color: #FFFFFF;

	position: relative;	
	.container_footer {
		height: 100%;
		width: 100%;
	ul {
		font-size: 30px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		
		li{
			line-height: 100px;
		}
	}
	}
}
/*_________________________*/
.iw-modal {
	opacity: 0; /*изначально этот блок должен быть прозрачным*/ 
	background: rgba(0,0,0,0.7); /*задаём цвет фона*/
	pointer-events: none; /*делаем чтобы по элементу нельзя было кликнуть когда он прозрачный*/
	position: fixed; 
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	transition: all 0.5s ease;
	margin: 0;
	padding: 0;
	:target {
		opacity: 1; /*при клике блок становится видимым*/
		pointer-events: auto; /*теперь по блоку можно кликать мышкой*/
		overflow-y: auto; /*прокрутка по вертикли страницы*/
		}

	.iw-modal-wrapper {
		margin:auto; /*выравниваем модальное окно по центру по горизонтали*/
		margin-top:25vh; /*отступ сверху можно задавать в px, % или vh*/

		.iw-CSS-modal-inner{
			position: relative;
			background: #ffffff; /*цвет фона*/
			border: 1px solid #cccccc; /*цвет и толщина рамки*/
			border-radius: 0px; /*радиус скругления углов*/

			.iw-modal-header{
				padding: 15px;/*внутренний отступ*/
				background:#f1f1f1;/*цвет фона*/
				position:relative;

				.iw-modal-title{
					font-size: 18px; /*размер шрифта*/
					color:#555; /*цвет шрифта*/
					font-weight:bold; /*жирность шрифта*/
					line-height: 1.5; /*высота строки*/
					margin-top: 0;
					margin-bottom: 0;
				}
				.iw-close{
					position:absolute;
					top:15px; /*отступ сверху*/
					right:10px; /*отступ справа*/
					font-size: 24px; /*размер шрифта*/
					color: #555; /*цвет шрифта*/
					text-decoration: none;

					:hover, :focus {
						color: #000; /*цвет шрифта при наведении*/
						cursor: pointer;
					}
					.iw-modal-text{
						padding: 15px 20px; /*внутренний отступ*/
					}
				
				}
			}
		}
	}
}



